@model AITECRM.Models.Projet



<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.structure.css" />
<script src="~/Scripts/jquery-ui.js"></script>


<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aite Crm Entreprises</title>
</head>
<h4>
    <body>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    @Html.Partial("Menu")
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <center>
            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                <h2>
                    <br /><br /><br /><br />
                    @{
                        ViewBag.Title = "EDITER PROJET";
                    }
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <br /><br /><br />
                        <div class="btn-group" data-toggle="buttons"> </div>

                        <div class="container">

                           @using (Html.BeginForm())
                           {
                                @Html.AntiForgeryToken()
                                @Html.ActionLink("NOUVEAU PROJET", "Create")<br /><br />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                <div>
                                    <div class="col-md-12 mb-3">
                                        <label for="Titre">Nom du projet</label>
                                        @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="Description">Description</label>
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <label for="Date_debut">Date de debut</label>
                                    <input type="text" class="form-control" id="Date_debut" name="Date_debut" value="@Model.Date_debut" onfocus="if (this.value == '@Model.Date_debut') { this.value = '' }" onblur="    if (this.value == '') { this.value = '@Model.Date_debut' }">  </div>
                                <div>
                                    <div class="col-md-7 mb-3">
                                        <label for="Date_fin">Date de fin</label>
                                        <input type="text" class="form-control" id="Date_fin" name="Date_fin" value="@Model.Date_fin" onfocus="if (this.value == '@Model.Date_fin') { this.value = '' }" onblur="    if (this.value == '') { this.value = '@Model.Date_fin' }"> </div>
                                    <div class="col-md-5 mb-3">
                                        <label for="EtatProjet_">Etat</label>
                                        <select name="EtatProjet_" id="EtatProjet_" class="form-control">
                                            <option value="En Cours" selected="selected">En Cours</option>
                                            <option value="Termine">Termine </option>
                                            <option value="Suspendu">Suspendu </option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.EtatProjet_, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <center>  <button class="btn btn-primary" type="submit">Enregistrer</button></center>
                           }
                        </div>
                    </div>
                </h2>
                <center>
                    <div>
                        <h2>
                            @Html.ActionLink("Liste des Projets", "Index")
                        </h2>
                    </div>
                    @Html.Partial("PagePrecedente")
                </center>
                <footer>
                    <center><> <strong>Copyright © 2016 Tout droits réservés. Par <a href="http://www.aite-eonsulting.com">Aite Consulting</a>.</strong></center>
                </footer>
            </main>
        </center>

    </body>
</h4>s
</html>
<script type="text/javascript">
 $(function() {
     $('#Date_debut').datepicker({
         dateFormat: 'dd/mm/yy'
     });
 });
 $(function () {
     $('#Date_fin').datepicker({
         changeMonth: true,
         changeYear: true,
         dateFormat: 'dd/mm/yy'
     });
 });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
}

