<html>
<head>

    <script>


    </script>
    <title>Aite Crm Rapports Contacts</title>
</head>
<body>
    <h4>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    @Html.Partial("Menu")
                </nav>
                <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main" id="Donnees">
                    <br /><br /><br /><br />
                    <h4>
                        Rapports Entreprises &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="btn-group" role="group" aria-label="Basic example">
                        </div><hr />
                       @Html.Partial("Rapport")
                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div class="btn-group" role="group" aria-label="Basic example">
                        </div>
                    </h4>

                    <div class="table-responsive">
                    </div>


                    <h4></h4>

                    <div id="container" style="width:90%; height:400px;">
@using (Html.BeginForm("ContactsPdf", "DalRapports", FormMethod.Post, new { id = "f" }))
{
                            <div class="col-sm-4 form-group">
                                <label>Pays</label>
                              @Html.Partial("Pays")
                            </div>
                            <div class="col-sm-4  form-group">
                                <label>Date Min</label>
                                <input type="text" id="inf" name="inf" />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Date Max</label>
                                <input type="text" id="sup" name="sup" />
                            </div>
                            <br />
                            <div class="col-sm-4 form-group">
                                <select name="Export" id="Export" required class="form-control" >
                                    <option value="Pdf" id="pdf1">PDF</option>
                                    <option value="Excel" id="excel1">Excel</option>
                                    <option value="Word" id="word1">Word</option>

                                </select>
                            </div>
                            <button id="pdf" name="pdf" type="submit" class="btn-primary">Exporter</button>
}
                        <button id="GetSummary" name="GetSummary" type="submit" class="btn-primary">Previsualiser</button>

                        <script id="employeeSummaryTemplate" type="text/html">
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <th>Entreprise</th>
                                    <th>Categorie</th>
                                    <th>Nom</th>
                                    <th>Adresse Email</th>
                                    <th>Telephone</th>
                                    <th>Etat</th>
                                </tr>
                                {{#empSummary}}
                                <tr id="tr{{NomEntreprise}}">
                                    <td>{{NomEntreprise}}</td>
                                    <td>{{NomGroupeContact}}</td>
                                    <td>{{NomContact}}</td>
                                    <td>{{AdresseMail}}</td>
                                    <td>{{Numero}}</td>
                                    <td>{{EtatContacts_}}</td>
                                </tr>
                                {{/empSummary}}
                            </table>
                        </script>
                        <div id="summary">
                            <!-- mustache.js output goes here -->
                        </div>

                    </div>



                    <footer>
                        <center><> <strong>Copyright © 2016 Tout droits réservés. Par <a href="http://www.aite-eonsulting.com">Aite Consulting</a>.</strong></center>
                    </footer>
                </main>

            </div>
        </div>
    </h4>
    <script>

        $(function () {
            $('#inf').datepicker({
                changeMonth: true,
                dateFormat: 'dd/mm/yy',
                changeYear: true
            });
        });
        $(function () {
            $('#sup').datepicker({
                changeMonth: true,
                dateFormat: 'dd/mm/yy',
                changeYear: true
            });
        });
    </script>
    @section scripts{
    <script type="text/javascript">

        //var pdf1 = document.getElementById('pdf1');
        //var word1 = document.getElementById('excel1');
        //var excel1 = document.getElementById('word1');
        var exp = document.getElementById('Export');
        exp.addEventListener('change', function () { document.getElementById('f').action = "@Url.Action("Contacts", "DalRapports")" + exp.value;})


    </script>
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#GetSummary').click(function () {
                var Inf1 = $('#inf').val();
                var Sup1 = $('#sup').val();
                var Pays1 = $('#Pays').val();
                $.ajax({
                    url: '@Url.Action("getContactsJs", "DalRapports")', type: "POST", dataType: "json",
                    data: { inf: Inf1, sup: Sup1,pays:Pays1 },
                    success: function (data) {
                        var html = Mustache.to_html($("#employeeSummaryTemplate").html(), { empSummary: data });
                        $("#summary").html(html);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                        alert(status);
                        alert(error);
                    }
                });

            });
        });

    </script>   
         }
</body>
</html>



